* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.breeds-section {
    padding: 20px;
    width: 100%;
    
    h1 {
        width: 100%;
        padding: 10px 0 10px 0;
    }
}


.breeds-fixed-carrousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    // background: blue;
    .arrow {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background: blue;
        height: 40px;
        width: 40px;
        text-align: center;
        padding-top: 7px;
        color:white;
    }
    .left {
        left: 10px;
    }
    .right {
        right: 10px;
    }
}


.breeds-carrousel {
    display: inline-flex;
    position: relative;
    // background: yellow;
    .single-breed-container {
        width: 500px;
        margin: 10px;
        border-radius: 10px;
        overflow: hidden;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    img { 
        width: 100%;
        display: block;
    }
    .breed-name-container {
        padding: 20px;
        background: crimson;
        h2 {
            text-align: center;
            color: white;
        }
    }
}