* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nunito', sans-serif; }

.breeds-section {
  padding: 20px;
  width: 100%; }
  .breeds-section h1 {
    width: 100%;
    padding: 10px 0 10px 0; }

.breeds-fixed-carrousel-container {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .breeds-fixed-carrousel-container .arrow {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: blue;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    color: white; }
  .breeds-fixed-carrousel-container .left {
    left: 10px; }
  .breeds-fixed-carrousel-container .right {
    right: 10px; }

.breeds-carrousel {
  display: inline-flex;
  position: relative; }
  .breeds-carrousel .single-breed-container {
    width: 500px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden; }
    .breeds-carrousel .single-breed-container:first-child {
      margin-left: 0; }
    .breeds-carrousel .single-breed-container:last-child {
      margin-right: 0; }
  .breeds-carrousel img {
    width: 100%;
    display: block; }
  .breeds-carrousel .breed-name-container {
    padding: 20px;
    background: crimson; }
    .breeds-carrousel .breed-name-container h2 {
      text-align: center;
      color: white; }
